@charset "UTF-8";

.regist_content{
	margin: 30px;
	padding: 30px;
	position:relative;
	height:1200px;
	width:1500px;
}

.sp{
	position:absolute;
	left:50%;
	top:28%;
	
}

.imgclass{
	width:100px;
	height:100px;
	position:absolute;
	left:11%;
}

.join{
	position:absolute;
	bottom:-15%;
	left:30%;
	width:130px;
	height:35px;
	background-color:#FEE300;
}

.regist_title{
	display: block;
	margin: 19px 0px 10px 0px;
	width: 243px;
	font-weight: 700;
}

.regist_info{
	width: 350px;
	height: 35px;
}

.regist_info:focus{
	outline: none !important;
    border:1px solid #FEE300;
}

.regist_info_birth{
	width: 110px;
	height: 35px;
}

.regist_info_birth_select{
	width:110px;
	height:41px;
}
.regist_info_gender{
	width: 360px;
	height:41px;
}

.regist_info_account{
	width: 100px;
	height:47px;

}
.regist_info_account_input{
	width: 250px;
	height:41px;
	margin: -7px;
}

.regist_info_account:focus{
	outline: none !important;
    border:1px solid #FEE300;
}

.regist_info_account_input:focus{
	outline: none !important;
    border:1px solid #FEE300;
}

.regist_info_birth_select:focus{
	outline: none !important;
    border:1px solid #FEE300;
}

.regist_info_gender:focus{
	outline: none !important;
    border:1px solid #FEE300;
}

.regist_info_birth:focus{
	outline: none !important;
    border:1px solid #FEE300;
}