@charset "UTF-8";

/* --------------------------------------------------------------------------------------------------- */


.big{
	width:820px;
	height:270px;
	position:relative;
}

.middle1{
    border: none;
    width: 172px;
    height: 130px;
    position: absolute;
    top: 28%;
    left: 8%;
}

.table-big{
	border-top:1px solid black;
	border-left:1px solid black;
	display:table;
	width:162px;
	height:80px;
}

.table-middle1{
	border:none;
	display:table-row;
	width:160px;
	height:40px;
}

.sc_lable{
	font-weight: 600;
	
}




.table-small{
	border-right:1px solid black;
	border-bottom:1px solid black;
	display:table-cell;
	width:40px;
	height:40px;
	vertical-align:middle;
	text-align:center;
	background-color:white;
}

.table-small:hover{
	background :#FEE300;
}

.table-small1{
	border-bottom:1px solid black;
	border-right:1px solid black;
	display:table-cell;
	width:40px;
	height:40px;
	background-color:#EEEEEE;
	vertical-align:middle;
	text-align:center;
}

.table-small3:hover{
	background :#FEE300;
}
.table-small3{
	border-right:1px solid black;
	border-bottom:1px solid black;
	display:table-cell;
	width:40px;
	height:40px;
	vertical-align:middle;
	text-align:center;
	background-color:white;
}

.table-small4{
	border-bottom:1px solid black;
	border-right:1px solid black;
	display:table-cell;
	width:40px;
	height:40px;
	background-color:#EEEEEE;
	vertical-align:middle;
	text-align:center;
}

.clicked{
	background:#FEE300;
}

.clicked1{
	background:#FEE300;
}

.clicked2{
	background:#FEE300;
}

.middle1-h6{
	position:absolute;
	bottom:0;
	right:0;
	margin:0;
	color:#6D6D6D;
	font-size: 11px;
}

.selectclass{
	border:none;
	width:180px;
	height:60px;
	position:relative;
}

#nameSelect:hover{
	border : 3px solid #FEE300;
}

#nameSelect{
	border: 2px solid #6D6D6D;
	width:163px;
	height:44px;
	font-weight:700;
	text-align-last:center;
	position: absolute;
    left: 8%;
    top: 7%;
	
}

.nameSelect-h6{
	margin:0;
	color:#CCCCCC;
	position:absolute;
	bottom:0;
	right:0;
}

.optionname:hover{
	background-color:#FFFF00;
}




.middle2{
	border:none;
	width:520px;
	height:130px;
	position:absolute;
    top: 28%;
	right:3%;
}

.table-big2{
	border-top:1px solid black;
	border-left:1px solid black;
	display:table;
	width:520px;
	height:80px;
}

.table-middle2{
	border:none;
	display:table-row;
	width:522px;
	height:40px;
}


.middle2-h6{
	position:absolute;
	bottom:0;
	right:0;
	margin:0;
	color:#CCCCCC;
}

.mi-date{
	border: 2px solid #DDDDDD;
	width:180px;
	height:40px;
	font-weight:700;
	text-align-last:center;
}

.mi-button{
	border: 0px solid #EEEEEE;
	width:90px;
	height:44px;
	font-weight:700;
	text-align:center;
	background-color:#FEE300;
	position:absolute;
	right:0;
	bottom: -69px;
}

