@charset "UTF-8";

#selectShCode {
	width:300px;
	height:45px;
	position: relative;
    left: 330px;
    margin: 10px;
}

#taskBoxDiv{
	position: relative;
    left: 100px;
    margin: 10px;
    margin-top: 11%;
}

.title{
	padding: 10px;
}

.countTask{
	font-weight: bold;
}

.selectTime{
	border: 1px solid #BBBBBB;
	width: 700px;
	padding: 10px;
	border-radius: 5px;
	background-color:#FFFFCC;
	margin: 10px 0;
}

.timeClick{
	font-size:17px;
	padding: 5px 15px;
	margin: 0px 15px;
	font-weight:900;
	display:inline-block;
}

.timeClick:hover {
   background-color: #FF9900;
   color: white;
   border-radius: 3px;
}

.addTask {
	background-color: #FFFFCC;
	color:black;
	border-radius: 3px;
	width:125px;
	height:35px;
	border:1px solid #CCCCCC;
	margin: 0 0 0 408px;
}

.addTask:hover {
	background-color: #FF9900;
	color: white;
}

.taskBox {
	border-bottom: 1px solid #BBBBBB;
	width: 500px;
	height: 35px;
	margin: 15px 10px;
	padding: 10px;
}

.timeTask {
	font-weight: bold;
	display:inline-block;
	margin: 0 15px;
}

.chooseTime {
	border: 2px solid #FEE300;
	border-radius: 10px;
	padding: 7px;
	font-weight: bold;
	display:inline-block;
	margin: 0 10px;
}

.taskContent {
	font-weight: 600;
	display:inline-block;
}

.together {
	display:inline-block;
	float: right;
	margin-right: 86px;
}

.addEvery {
	font-weight: 500;
	display:inline-block;
	margin-right: 57px;
	padding-top: 5px;
}

.setting {
	margin: -4px 20px;
	position: absolute;
	display: inline-block;
	border:none;
}

.settingButton {
	padding: 5px 5px;
	float:left;
	background-color:#FFFFCC;
	border:none;
}

.settingContent {
	position: absolute;
	display: none;
	top:-20px;
	left:40px;
	z-index: 1;
}

.settingContent a {
	display: block;
	background-color: #FFFF99;
	text-decoration: none;
	color:#CC9900;
	padding: 10px 5px;
	width:70px;
	text-align:center;
	line-height:20px;
}

.settingContent a:hover {
	background-color: #FFCC99;
	color:white;
}

.setting:hover .settingContent {
	display: block;
}

.setting:hover .settingButton {
	background-color: #FFFFCC;
}