@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap');
body{
font-family: 'Noto Sans KR', sans-serif;
}


.labor_alba_select_box{
    width: 200px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    margin-right: 15px;
    border :2px solid #6D6D6D;
    margin-left: 50px;
}

.labor_alba_select_box:focus{
   outline: none !important;
    border:2px solid #FEE300;
}

.labor_alba_select_box:hover{
	border : 2px solid #FEE300;
}


.laborDiv{
	width:900px;
	padding : 50px;
	margin: 20px 50px;
	border: 1px solid #6D6D6D;
	
}
.canvas_contents999{
    margin-top: -34px;
    border: 1px solid black;
    width: 370px;
    height: 190px;
    margin-left: 306px;
}

.day_contents{
	text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.labor_contract_title{
	font-size: 40px;
	font-weight:700px;
	text-align: center;
}
.labor_contract_contents_step2{
	font-size: 14px;
}

.labor_complete_btn{
	border: 1px solid white;
	width: 100px;
   	height: 41px;
   	margin-left:11px;
}

.labor_complete_btn:hover{
    background: #FEE300;
}
.labor_complete_btn:focus{
	border: none;
}




.labor_clear{
	border: none;
   	color:black;
}

.labor_clear:hover{
	border:none;
    background: white;
	color: #C6C6C5;
}



.radio_btn{
}
.labor_contents{
	width: 100px;
	font-weight: bold;
	font-size : 17px;
	height: 22px;
	text-align: center;
}

.labor_contents:disabled{
	border: 0px;
	background: white;
} 

.labor_contents:focus{
   outline: none !important;
    border:1px solid #FEE300;
}

.labor_contents_style1{
	width: 40px;
	font-weight: bold;
	font-size : 17px;
	height: 22px;
	text-align: center;
}

.labor_year {
    width: 57px;
    font-weight: bold;
    font-size: 17px;
    height: 22px;
    text-align: center;
}
.labor_year:disabled{
	border: 0px;
	background: white;
} 

.labor_contents_style1:disabled{
	border: 0px;
	background: white;
} 

.labor_contents_style2:disabled{
	border: 0px;
	background: white;
} 
.labor_contents_style3:disabled{
	border: 0px;
	background: white;
} 
.labor_contents_style4:disabled{
	background: white;
	border: 0px;
} 
.labor_contents_style2{
	width: 729px;
	font-weight: bold;
	font-size : 17px;
	height: 22px;
	text-align: center;
}

.labor_contents_style3{
	width: 525px;
	font-weight: bold;
	font-size : 17px;
	height: 22px;
	text-align: center;
}

.labor_contents_style4{
	width: 110px;
	font-weight: bold;
	font-size : 17px;
	height: 22px;
	text-align: center;
	
}


.labor_contents_style1:focus{
   outline: none !important;
    border:1px solid #FEE300;
}

.labor_contents_style2:focus{
   outline: none !important;
    border:1px solid #FEE300;
}
.labor_contents_style3:focus{
   outline: none !important;
    border:1px solid #FEE300;
}



