
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap');
body {
	margin: 0;
	width: 100%;
	height : 100%;
	font-family: 'Noto Sans KR', sans-serif
}

/* 뼈대  */
.two {
	display: flex;
	width: 100%;
	margin: -3px;
}

.test1 {
	border-bottom: 1px solid;
}

.test2 {
	width: 5.46%;
	height : 100%;
	display: flex;
	flex-direction: column;
	background-color: #f2f2f2;
}

.head{
	background-color: #f2f2f2;
	text-align : center;
	width : 100%;
	height: 100%;
	cursor : pointer;
	margin-bottom: -5px;
}

.head img{
	border-right : 1px solid #C6C6C5;
	padding-top : 3px;
	position : relative;
	width: 100%;
}

.list {
	text-align : center;
	width : 100%;
	height: 100%;
	cursor : pointer;
	margin-bottom: -7px;
}

.list img{
	border : 1px solid #C6C6C5;
	position : relative;
	width: 100%;
}



.list_active{
	border : 10px solid red;
}

.list img:last-child{
	display:none;
}
.list:hover img:first-child{
	display:none;
} 	
.list:hover img:last-child{
	border : 1px solid #C6C6C5;
	display:inline-block;
}

.list:focus img{
	border : 3px solid #red;
	display:inline-block;
}



.list a {
	text-align: center;
	text-decoration: none;
	color: #000;
}

/* 내용  */
.info {
	border-right : 1px solid #C6C6C5;
	width: 20%;
	text-align : center;
	
}

.detail_info_img img{
	position : relative;
	width: 65%;
}

.detail_info_img{
	padding-top: 124px;
	padding-bottom: 15px;
}

.detail_if{
	color : #6D6D6D;
	font-size : 20px;
	width : 80%;
	border : 1px solid #C6C6C5;
	padding : 20px 0px 20px 0px;
	margin-left: 10%;
	margin-bottom: 3.5%;
}

.detail_if_select_box{
	color: #6D6D6D;
    font-size: 20px;
    width: 81%;
    border: 1px solid #C6C6C5;
    padding: 20px 0px 20px 0px;
    margin-left: 0%;
    margin-bottom: 3.5%;
    text-align-last: center;
}

.detail_if_select_box:hover{
	border : 1px solid #FEE300;
	background:#f7f7f7;
}
.detail_if_select_box:focus{
	border : 1px solid #FEE300;
	background:#f7f7f7;
}



.detail_logOut{
	color : white;
	font-size : 20px;
	width : 80%;
	border : 1px solid #C6C6C5;
	padding : 10px 0px 10px 0px;
	margin-left: 10%;
	margin-bottom: 3.5%;
	background-color: #6D6D6D;
}

.test3{
	width: 74.5%;
}

