@charset "UTF-8";


.work_wrap{
	width:800px;
	margin: 10px 20px;
	display:inline-block;
	
}

.workzone{
	border-bottom: 1px solid gray;
    border-top: 1px solid gray;
	width:500px;
	height:140px;
	position:relative;
	margin:0px 20px;
	top:20px;
	left: 20px;
}

.workzone h3 {
	position:absolute;
	left:37%;
	top:14%;
	margin:0;
}

.workimg{
	border: none;
    width: 125px;
    height: 125px;
    position: absolute;
    left: 30px;
    top: 8px;
}

.kname {
	position:absolute;
	left: 47%;
    top: 42%;
	margin:0;
	color: brown;
	font-size: 13px;
}

.kmember {
	position:absolute;
	left:47%;
	bottom:10%;
	margin:0;
}


.know {
	position:absolute;
	left:72%;
	top:45%;
	margin:0;
}

.kafter {
	position:absolute;
	left:72%;
	bottom:2%;
	margin:0;
}
.addwork_btn{
	display:flex;
	position:absolute;
		background-color:#FEE300; 
	 border-radius: 5px;
	
	color:black;
		left: 500px;
	
}
.deletework_btn{
	display:flex;
	position:absolute;
		left: 600px;

}

.buttons{
	display:inline-block;
}

.addstore{
	border :0px;
	background-color:#FEE300;
	font-size:15px;
		border-radius:5px;
}
.addstore:hover{
	border :0px;
	background-color:#C6C6C5;
	font-size:15px;
	border-radius:5px;
}
i{
	color:black;
}

.apply_btn {
	position:absolute;
	right: 3%;
    bottom: 15%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
}
